.btn1{
    border: 2px solid black;
    margin-left: 10px;
}

ol{
    display: flex;
    flex-wrap: wrap;
}

li{
    display: inline-block;
    word-wrap: break-word;
    text-align: center;
    margin-left: 40px;
    margin-top: 40px;
    width: 150px;
    height: 60px;
    padding: 10px;
    line-height: 1;
    border: 2px solid black;
}

p{
    margin: 0 auto;
    margin-bottom: 5px;
}

