body {
    margin: 0;
}

#game {
    width: 100%;
    height: 100vh;
    background-image: url("img1.gif");
    /* background */
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#player {
    width: 300px;
    height: 280px;
    background-image: url("rg.gif");
    /* character */
    background-size: cover;
    position: absolute;
    left: 100px;
    top: 300px;
}