.container{
    display: relative;
    width: 200px;
    height: 350px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    font-family: Arial, sans-serif;
    background-color: #000000;
}

#input{
    display: flex;
    width: 100%;
    height: 90px;
    border: none;
    text-align: right;
    align-items: flex-end;
    font-size: 24px;
}

.mainBtn{
    margin-top: 10px;
}

.num{
    width: 23%;
    height: 40px;
    margin-top: 5px;
    font-size: 16px;
    background-color: #323232;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}