.container{
    display: relative;
    width: 200px;
    height: 390px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    font-family: Arial, sans-serif;
    background-color: #000000;
}

#input{
    display: flex;
    width: 100%;
    height: 90px;
    border: none;
    text-align: right;
    align-items: flex-end;
    font-size: 24px;
    background-color: #303030;
    color: #ffffff;
}

.mainBtn{
    margin-top: 10px;
}

.clearNum{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    font-size: 20px;
    background-color: #eae8e8;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.num{
    width: 23%;
    height: 40px;
    margin-top: 5px;
    font-size: 16px;
    background-color: #323232;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.numCol{
    width: 23%;
    height: 40px;
    margin-top: 5px;
    font-size: 16px;
    background-color: #de9a24;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.num1{
    width: 36%;
    height: 40px;
    margin-top: 5px;
    font-size: 16px;
    background-color: #323232;
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

.num1{
    width: 36%;
    height: 40px;
    margin-top: 5px;
    font-size: 20px;
    background-color: #323232;
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

.num3{
    width: 98%;
    height: 40px;
    margin-top: 5px;
    font-size: 20px;
    background-color: #de9a24;
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}